/* Home.css */

/* Container styling */


.home-container {
    display: flex;
    justify-content: space-around; /* Center items with space around them */
    align-items: center;
    padding: 30px; /* Decreased padding for a more compact look */
    background-color: #e0e0e0; /* Lighter gray background color */
    border-radius: 15px; /* Increased border-radius for rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Added a subtle box shadow for depth */
  }
  
  /* Content styling */
  .content {
    flex: 1;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    background-color: #eef5f5;
  }
  
  
  .image-container {
    flex: 1;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Add rounded corners to the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
  }

  